* {
    margin: 0;
    box-sizing: border-box;
}



#frameTop {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 1;
}

#frameBottom {
    position: absolute;
    top: 600px;
    width: 100vw;
    height: 10vh;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 1;
}

.enemy {
    z-index: -1;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: bisque;
    top: 0px;
    left: 100px;
}

.player {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: rgb(211, 17, 17);
    top: 500px;
    left: 300px;
}